@model IEnumerable<ProgrammingTest.Data.Titleauthor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuOrd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Royaltyper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Au)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuOrd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Royaltyper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Au.AuId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title.TitleId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
